<mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         1. What types of cakes do you offer?
        </mat-panel-title>
      </mat-expansion-panel-header>
      We offer a wide variety of cakes, including classic flavors like chocolate and vanilla, as well as specialty options like red velvet, carrot cake, and fruit-filled cakes. 
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
        2.  How do I place an order?
        </mat-panel-title>
      </mat-expansion-panel-header>
      Ordering a cake is simple! Just browse our website, select the cake you like, choose the size, flavor. Proceed to order, where you can provide delivery details and make the payment.
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
        3.  Can I customize my cake?
        </mat-panel-title>
      </mat-expansion-panel-header>
      Absolutely! We offer customization options for many of our cakes. You can choose the frosting color, add a personalized message.
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
        4. How much notice do you need for an order?
        </mat-panel-title>
      </mat-expansion-panel-header>
      To ensure the best quality, we recommend placing your order at least 4 hours in advance using our Angular Material date picker. For custom or large orders, more notice may be required. However, we do have a selection of "Ready to Order" cakes that can be purchased with shorter notice.
    </mat-expansion-panel>
   
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
        5. Do you offer delivery?
        </mat-panel-title>
        </mat-expansion-panel-header>
        Yes, we provide delivery services within our designated areas. Delivery fees may vary based on distance. During the checkout process, you can enter your location using the Angular Material auto-complete feature to check if we deliver to your area.
    </mat-expansion-panel>
    

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
        6. Can I pick up my order instead of having it delivered?
        </mat-panel-title>
        </mat-expansion-panel-header>
        Certainly! You can "Pickup" option during checkout. 
    </mat-expansion-panel>
  </mat-accordion>
  